.banner {
  align-items: center;
  display: grid;
  justify-items: center;

  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.banner__title {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;

  color: var(--primary-color);
}

.banner__subtitle {
  margin-top: 4px;

  font-weight: 500;

  color: var(--text-color);
}

.banner__img {
  width: 64%;
}

.about {
  margin-top: 32px;
  padding: 32px;

  background-color: var(--white-color);

  border-radius: var(--border-radius);
}

.about__inner {
  display: grid;

  gap: 16px;
}

.about__info {
  align-items: center;
  display: grid;
}

.about__text {
  color: var(--text-color);
}

.about__img {
  width: 80%;
}

.gallery {
  margin-top: 32px;
  padding: 32px;

  background-color: var(--white-color);

  border-radius: var(--border-radius);
}

.gallery__img {
  height: 200px;
  width: 100%;

  border-radius: var(--border-radius);
  object-fit: cover;
}

.contacts__inner,
.subscription__inner {
  align-items: center;
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 32px;
}

.contacts__map {
  height: 300px;
  width: 100%;
}

.contacts__info,
.subscription__info {
  display: grid;

  gap: 8px;
}

.contacts__item {
  display: flex;

  color: var(--text-color);

  gap: 8px;
}

.contacts__item > span {
  font-weight: 700;
}

.label {
  display: grid;

  color: var(--text-color);

  gap: 8px;
}

.input {
  padding: 8px 12px;

  color: var(--text-color);
  border: none;
  outline: 1px solid var(--light-gray-color);

  border-radius: var(--border-radius);
}

.input::placeholder {
  color: var(--placeholder-color);
}

.subscription__img {
  width: 80%;
}

.alert {
  position: fixed;
  bottom: 12px;
  left: -100%;
  padding: 12px;
  width: fit-content;

  color: var(--white-color);

  transition: var(--transition);

  border-radius: var(--border-radius);
}

.alert_active {
  left: 12px;
}

.alert_danger {
  background-color: rgb(247, 103, 103);
}

.alert_success {
  background-color: rgb(145, 207, 145);
}

@media screen and (max-width: 992px) {
  .banner__title {
    font-size: 28px;
  }

  .contacts__inner {
    grid-template-columns: 1fr;
  }

  .subscription__inner {
    grid-template-columns: 1fr;
  }

  .subscription__img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .banner__title {
    font-size: 20px;
    text-transform: unset;
  }

  .about__text {
    word-break: break-all;
  }

  .contacts__map {
    height: 200px;
  }

  .contacts__item {
    display: grid;
  }
}
