.faq__inner {
  display: grid;

  gap: 16px;
}

.accordion {
  display: grid;
  padding-bottom: 16px;

  border-bottom: 1px solid var(--light-gray-color);

  gap: 12px;
}

.accordion:last-child {
  padding-bottom: 0;

  border-bottom: none;
}

.accordion__headline {
  align-items: center;
  display: flex;
  justify-content: space-between;

  gap: 16px;
}

.accordion__title {
  font-weight: 500;

  color: var(--text-color);
}

.accordion__descr-wrapper {
  display: grid;

  transition: var(--transition);

  grid-template-rows: 0fr;
}

.accordion__descr-wrapper_active {
  grid-template-rows: 1fr;
}

.accordion__descr {
  overflow: hidden;

  color: var(--text-color);
}

.accordion__btn-text {
  display: block;

  transition: var(--transition);
}

.accordion__btn-text_active {
  transform: rotate(180deg);
}

.reviews__inner {
  display: grid;

  gap: 16px;
}

.reviews-card {
  display: grid;

  grid-template-columns: auto 1fr;

  gap: 24px;
}

.reviews-card__img {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;

  font-size: 24px;
  font-weight: 500;

  color: var(--white-color);

  border-radius: 50%;
}

.reviews-card__info {
  display: grid;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--light-gray-color);

  gap: 4px;
}

.reviews-card:last-child > .reviews-card__info {
  padding-bottom: 0;

  border-bottom: none;
}

.reviews-card__email {
  overflow: hidden;

  text-overflow: ellipsis;

  color: var(--placeholder-color);
}

.reviews-card__text {
  color: var(--text-color);
}

.reviews-card:first-child > .reviews-card__img {
  background-color: #e89d7a;
}

.reviews-card:nth-child(2) > .reviews-card__img {
  background-color: #e87a87;
}

.reviews-card:nth-child(3) > .reviews-card__img {
  background-color: #e8c57a;
}

.reviews-card:nth-child(4) > .reviews-card__img {
  background-color: #8c7ae8;
}

.reviews-card:last-child > .reviews-card__img {
  background-color: #7aa2e8;
}

@media screen and (max-width: 576px) {
  .reviews-card {
    grid-template-columns: 1fr;
  }
}
