.reviews__inner {
  display: grid;
  gap: 16px;
}

.reviews-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px;
}

.reviews-card__img {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 24px;
  font-weight: 500;
}

.reviews-card__info {
  display: grid;
  gap: 4px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 24px;
}

.reviews-card:last-child > .reviews-card__info {
  border-bottom: none;
  padding-bottom: 0;
}

.reviews-card__email {
  color: #8d98ac;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reviews-card__text {
  color: var(--text-color);
}

.reviews-card:first-child > .reviews-card__img {
  background-color: #e89d7a;
}

.reviews-card:nth-child(2) > .reviews-card__img {
  background-color: #e87a87;
}

.reviews-card:nth-child(3) > .reviews-card__img {
  background-color: #e8c57a;
}

.reviews-card:nth-child(4) > .reviews-card__img {
  background-color: #8c7ae8;
}

.reviews-card:last-child > .reviews-card__img {
  background-color: #7aa2e8;
}

.faq__inner {
  display: grid;
  gap: 16px;
}

.accordion {
  display: grid;
  gap: 12px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 16px;
}

.accordion:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.accordion__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.accordion__title {
  color: var(--text-color);
  font-weight: 500;
}

.accordion__descr-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: 400ms;
}

.accordion__descr-wrapper_active {
  grid-template-rows: 1fr;
}

.accordion__descr {
  color: var(--text-color);
  overflow: hidden;
}

.accordion__btn-text {
  transition: 400ms;
  display: block;
}

.accordion__btn-text_active {
  transform: rotate(180deg);
}

@media screen and (max-width: 576px) {
  .reviews-card {
    grid-template-columns: 1fr;
  }
}
