.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding: 24px 32px;

  background-color: var(--white-color);

  border-radius: 12px 12px 0 0;
}

.footer__info {
  color: var(--text-color);
}
