* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
}

:root {
  --bg-color: #f1f5f8;
  --white-color: #ffffff;
  --primary-color: #7a95e8;
  --text-color: #42567a;
  --light-gray-color: #eeeeee;
  --placeholder-color: #8d98ac;

  --border-radius: 12px;
  --transition: 400ms;
}

body {
  background-color: var(--bg-color);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 24px;
}

.btn {
  display: block;
  margin-top: 12px;
  padding: 8px 12px;
  width: fit-content;

  text-decoration: none;

  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;

  transition: var(--transition);

  border-radius: 8px;
}

.btn:hover {
  opacity: 0.84;
}

section {
  margin-top: 32px;
  padding: 32px;

  background-color: var(--white-color);

  border-radius: var(--border-radius);
}

.title {
  margin-bottom: 32px;

  font-weight: 500;

  color: var(--text-color);
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 12px;
  }

  section {
    padding: 24px;
  }
}
