.logo {
  align-items: center;
  display: flex;

  text-decoration: none;

  gap: 8px;
}

.logo__icon {
  height: 24px;
}

.logo__text {
  font-weight: 600;

  color: var(--primary-color);
}

@media screen and (max-width: 576px) {
  .logo__text {
    display: none;
  }
}
