.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.logo__icon {
  height: 24px;
}

.logo__text {
  color: var(--primary-color);
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .logo__text {
    display: none;
  }
}
